@font-face{
font-family: OpenSans;
src: url(fonts/OpenSans-Bold.ttf);
src: url(fonts/OpenSans-Regular.ttf);
}

html{
font-family: "OpenSans";
font-size: 62.5%;
}

body {
margin: 0 auto;
padding: 0;
width: 100%;
min-width: 300px;
max-width: 2000px;
}

header {
width: 100%;
margin: 0;
padding-top: 4.5rem;
padding-bottom: 11rem;
text-decoration: none;
position: relative;
color: white;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;
box-sizing: border-box;
}

header::after, header::before  {
content: "";
width: 100%;
height: 100%;
display: block;
position: absolute;
top: 0;
left: 0;
}

header::after {
background: url(./img/football_1920.jpg) no-repeat;
background-size: cover;
background-position: center;
z-index: 0;
}

header::before {
background-color: #0a0e34;
opacity: 0.8;
z-index: 1;
}

@media (min-width: 746px) and (max-width: 1280px){
header::after {
background: url(./img/football_1280.jpg) no-repea
}
}

@media (max-width: 745px){
header::after {
background: url(./img/football_767.jpg) no-repeat;
}

.surface{
width: 190px;
margin-top: 0;
margin-bottom: 0;
z-index: 2;
}

.name{
margin-top: 26.5rem;
margin-bottom: 21rem;
margin-left: 0rem;
padding: 0;
white-space: pre-wrap;
z-index: 2;
}

.lower-string{
padding-top: 0px;
display: block;
white-space: pre-wrap;
margin-left: 24vw;
}

h1, h2, h3, .download-text, .download-text-play, .download-app-text {
text-transform: uppercase;
}

h1{
font-size: 4.48vw;
margin: 0;
padding: 0;
font-stretch: wider;
letter-spacing: 0.8rem;
z-index: 2;
line-height: 10rem;
}

h2{
font-size: 7.2rem;
margin: 0;
padding: 0;
color: #e7e7e7;
letter-spacing: 0.6rem;
}

h3{
font-size: 3.6rem;
margin: 0;
padding: 0;
color: #c1c1c1;
letter-spacing: 0.2rem;
}

p{
font-size: 2.2rem;
margin: 0;
padding: 0;
}

.download{
display: flex;
flex-wrap: wrap;
margin-bottom: 0;
margin-left: auto;
margin-right: auto;
z-index: 1;
}

.link{
width: 310px;
height: 75px;
background-color: #5e42b0;
border-radius: 37px;
margin: 0 25px;
color: white;
display: flex;
text-decoration: none;
}

.ikon{
width: 50px;
margin-top:auto;
margin-right: 25px;
margin-bottom: auto;
margin-left: auto;
}

.ikon-play{
width: 50px;
margin-top:auto;
margin-right: 5px;
margin-bottom: auto;
margin-left: auto;
}

.download-ikon{
width: 105px;
display: flex;
}

.download-text{
padding-top: 2rem;
white-space: pre-wrap;
font-size: 1.4rem;
margin-left: 0rem;
}

.download-text-play{
padding-top: 2rem;
white-space: pre-wrap;
font-size: 1.4rem;
margin-left: 2rem;
}

.download-bold{
font-weight: bold;
padding: 0;
margin: 0;
}

.footballer-block{
width: 100%;
display: flex;
padding-top: 9rem;
flex-direction: column;
align-items: flex-start;

position: relative;
}

.footballer-block .athlets{
box-sizing: border-box;
width: 100%;

padding-left: 53%;
padding-right: auto;
}

.connection {
width: 100%;
box-sizing: border-box;
padding-bottom: 6rem;
padding-top: 8.5rem;
padding-left: 52.5%;
padding-right: 10%;
order: 2;
}

.number-container{
display: flex;
margin: 0 0 8px 0;
}

.number{
font-size: 1.9rem;
font-weight: bold;
box-sizing: border-box;
padding-bottom: 0;
margin: 0 1.4rem 0 0;
width: 2rem;
height: 3.8rem;
border-bottom: 3px solid blue;
}

.footballer-block .pictures {
width: 565px;
top: 1rem;
right: 39%;
order: 1;
z-index: 999;
}

.collaboration{
box-sizing: border-box;
width: 100%;
background-color: #f6f4fa;
margin: 0;
padding-top: 4.8rem;
padding-bottom: 5rem;
padding-left: 52.5%;
padding-right: 10%;
order: 3;
}

.growth{
box-sizing: border-box;
width: 100%;
background-color: #5e42b0;
margin: 0;
padding-top: 5rem;
padding-bottom: 5.5rem;
padding-left: 52.5%;
padding-right: 10%;
order: 4;
}

.footballer-block .growth {
color: #c1c1c1;
border-bottom: 3px solid #efefef;
}

.font-growth{
color: #fff;
letter-spacing: 0.1rem;
}

.growth .number{
border-bottom: 3px solid white;
color: #9173e6;
}

.footballer-block .growth .number {
color: black;
}

.basketballerballer-block{
width: 100%;
display: flex;
flex-direction: column;
position: relative;
}

.basketballerballer-block .athlets{
color: #e7e7e7;
padding-bottom: 5rem;
padding-top: 10rem;
padding-left: 10%;
padding-right: 50%;
}

.basketballerballer-block .connection {
padding-bottom: 8rem;
padding-top: 3rem;
padding-left: 10%;
padding-right: 50%;
order: 2;
}

.basketballerballer-block .collaboration {
padding-top: 2rem;
padding-bottom: 8rem;
padding-left: 10%;
padding-right: 50%;
order: 2;
}

.basketballerballer-block .growth {
background-color: #090c35;
padding-bottom: 6rem;
padding-left: 10%;
padding-right: 50%;
order: 2;
}

.basketballerballer-block .pictures {
width: 990px;
top: 1rem;
right: 6rem;
order: 2;
}

.basketballerballer-block .collaboration .number-container{
margin-bottom: 2rem;
}

.sportsmens-block{
width: 100%;
display: flex;
flex-wrap: wrap;
position: relative;
margin: 0;
padding: 0;
}

.be-active {
width: 50%;
margin: 0;
padding: 0;
}

.be-active:nth-child(-n+1) .be-active, .be-active:nth-child(-4n+4) .be-active, .be-active:nth-child(-5n+5) .be-active{
width: 100%;
height: 100%;
margin: 0;
padding: 0;
}

.sportsmens-paragraph{
margin-top: 10rem;
font-size: 2.2rem;
letter-spacing: 0.2rem;
}

.sportsmens-header{
color: #e7e7e7;
}

.sportsmens-header, .sportsmens-paragraph  {
margin-left: 13rem;
margin-right: 20rem;
}

.be-active:nth-child(-3n+3) .sportsmens-paragraph, .be-active:nth-child(-3n+3) .sportsmens-header{
margin-left: 19rem;
margin-right: 13rem;
}

.be-active:nth-child(-3n+3) .sportsmens-paragraph {
margin-top: 6rem;
margin-bottom: 6rem;
}

.be-active:nth-child(-2n+2), .be-active:nth-child(-3n+3), .be-active:nth-child(-6n+6){
display: flex;
flex-direction: column;
justify-content: center;
position: relative;
}

footer{
box-sizing: border-box;
width: 100%;
margin: 0;
padding-top: 22rem;
padding-bottom: 5rem;
text-decoration: none;
position: relative;
color: white;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;
z-index: 1;
}


footer::after, footer::before  {
content: "";
width: 100%;
height: 100%;
display: block;
position: absolute;
top: 0;
left: 0;
}

footer::after {
background: url(./img/game_1920.jpg) no-repeat;
background-size: cover;
background-position: center;
z-index: 0;
}

footer::before {
background-color: #0a0e34;
opacity: 0.8;
z-index: 1;
}

@media (max-width: 745px){
.name{
margin-top: 12rem;
margin-bottom: 4.5rem;
margin-left: 2rem;
}
	
footer{
padding-top: 10rem;
padding-bottom: 1rem;
}

footer::after {
background: url(./img/game_767.jpg) no-repeat;
}
}

footer .download{
margin-top: 15rem;
margin-bottom: 26rem;	
}

.download-app{
display: flex;
z-index:  1;
margin: 0;
}

.download-app-ikon {
width: 130px;
height: 130px;
background-color: #5e42b0;
border-radius: 25px;
display: flex;
margin-right: 2.8rem;
z-index: 1;
}

.download-app-ikon .footer-ikon{
width: 100px;
z-index: 1;
margin: auto;
}

.download-app-text{
text-transform: uppercase;
margin: 0;
font-size: 3rem;
letter-spacing: 0.6rem;
}

.download-app-header{
letter-spacing: 1.2rem;
}

.download-app-paragraph{
font-size: 3rem;
letter-spacing: 0rem;
color: #a496ca;
}

.square-left, .square-right{
width: 168px;
height: 155px;
background-color: #5e42b0;
position: absolute;
z-index: 9999;
display: flex;
align-items: center;
top: calc(50% - 157px);
}

.square-left{
left: -84px;
}

.square-right{
right: -84px;
}

.square-left .number-container, .square-right .number-container{
width: auto;
margin: auto;
}

.square-left .number,  .square-right .number {
border-bottom: 3px solid #999999;
width: 2rem;
color: white;
}


@media(max-width: 745px){

header {
padding-top: 3rem;
padding-bottom: 8rem;
}

.surface{
width: 135px;
}

.lower-string{
padding-top: 1px;
margin-top: 0rem;
margin-bottom: 0;
margin-left: 15%;
}

.download .link{
margin-top: 15px;
margin-left: 5px;
margin-right: 5px;

width: 380px;
height: 35px;
border-radius: 17px;
}

.download{
width: 290px;
margin-left: auto;
margin-right: auto;
}

.ikon{
width: 25px;
margin-top: 2px;
margin-right: 2px;
}

.download-text{
padding-top: 6px;
margin-left: 11px;
margin-top: 0;
font-size: 0.8rem; 
}

.ikon-play{
width: 25px;
margin-top: 2px;
margin-right: 2px;
}

.download-text-play{
padding-top: 6px;
margin-left: 11px;
margin-top: 0;
font-size: 0.8rem; 
}

.footballer-block  .pictures {
margin: 5px auto 0 auto;
width: 195px;
}  

h1{
font-size: 8.5vw;
letter-spacing: 0.2rem;
line-height: 5rem;
}

h2{
font-size: 14vw;
}

h3{
font-size: 7vw;
}

p{
font-size: 1.5rem;
}

.footballer-block {
padding-top: 1rem;
} 

.number {
font-size: 4vw;
height: 7.5vw;
width: 4.5vw;
} 

.square-left .number, .square-right .number {
margin: 0;
width: 1.5rem;
height: 2.2rem;
}

.basketballerballer-block .pictures {
margin: 0 auto;
width: 300px;
}  

.sportsmens-paragraph {
font-size: 1.4rem;
}

.sportsmens-header {
font-size: 2.2rem; 
}

.download-app{
flex-wrap: none;
flex-direction: column;
flex-basis: auto;
}

.download-app-ikon {
width: 75px;
height: 75px;
display: flex;
border-radius: 15px;
margin: auto;
margin-bottom: 5rem;
}

.download-app-ikon .footer-ikon{
width:60px;
}

.download-app-text{
display: flex;
flex-direction: column;
align-items: center;
}

.download-app-header{
font-size: 3rem;
letter-spacing: 0.4rem;
}
l

.download-app-text .download-app-header{
margin-bottom: 0;
margin-top: 0;
}

.download-app-text .download-app-paragraph{
font-size: 1.4rem;
}

footer .surface{
margin-top: 0;
}

footer .download{
margin-top: 5.5rem;
margin-bottom: 8rem;	
}

.footballer-block .athlets{
padding-left: 7%;
}

.athlets{
padding-left: 10%;
padding-right: 10%;
}

.connection {
padding-left: 6%;
padding-right: 10%;
padding-top: 1.5rem;
padding-bottom: 6rem;
}

.footballer-block .number-container, .basketballerballer-block .number-container{
margin-bottom: 1rem;
}

.basketballerballer-block .connection {
padding-left: 6%;
padding-right: 10%;
padding-top: 6rem;
padding-bottom: 4.5rem;
}

.collaboration {
padding-left: 6%;
padding-right: 10%;
padding-top: 5rem;
padding-bottom: 4.5rem;
}

.basketballerballer-block .collaboration {
padding-left: 6%;
padding-right: 10%;
padding-top: 6rem;
padding-bottom: 4.5rem;
}

.growth {
padding-left: 6%;
padding-right: 10%;
padding-top: 5.5rem;
padding-bottom: 7.5rem;
}

.basketballerballer-block .growth {
padding-left: 6%;
padding-right: 10%;
padding-top: 5.5rem;
padding-bottom: 5.5rem;
}

.basketballerballer-block .athlets{
padding-left: 6%;
padding-top: 1rem;
padding-bottom: 0rem;
}

.be-active .sportsmens-header, .be-active:nth-child(-3n+3) .sportsmens-header  {
margin: 0;
padding-top: 2.5rem;
padding-bottom: 0rem;
padding-left: 2rem;
}

.be-active .sportsmens-paragraph, .be-active:nth-child(-3n+3) .sportsmens-paragraph {
margin: 0;
padding-top: 2rem;
padding-bottom: 7.6rem;
padding-left: 2rem;
}

.square-left, .square-right{
max-width: 70px;
height: 70px;
position: absolute;
top: -6rem;
left: 2rem;
}
}

@media(min-width: 746px){
.footballer-block .pictures{
position: absolute;
}

.basketballerballer-block .pictures{
position: absolute;
}
}

@media (max-width: 900px){
	
.download-app{
flex-direction: column;
}

.be-active {
width: 100%;
}

.be-active:nth-child(-n+1){
order: 0;
}

.be-active:nth-child(-2n+2){
order: 1;
}

.be-active:nth-child(-3n+3){
order: 3;
}

.be-active:nth-child(-4n+4){
order: 2;
}

.be-active:nth-child(-5n+5){
order: 4;
}

.be-active:nth-child(-6n+6){
order: 5;
}
}

@media (min-width: 900px) and (max-width: 1280px){
.sportsmens-paragraph{
margin-top: 0;
margin-right: 1rem;
margin-left: 10rem;
}

.sportsmens-header{
font-size: 3.75vw;
margin-bottom: 0;
margin-left: 10rem;
}

.be-active:nth-child(-3n+3) .sportsmens-paragraph, .be-active:nth-child(-3n+3) .sportsmens-header {
margin-left: 1rem;
}

footer::after {
background: url(./img/game_1280.jpg) no-repeat;
background-size: cover;
}
}

@media (min-width: 746px) and (max-width: 900px){
	
header {
padding-top: 4rem;
padding-bottom: 9rem;
}

.name{
margin-top: 18rem;
margin-bottom: 29rem;
margin-left: 8.5rem;
}

.lower-string{
margin-left: 10.5rem;
margin-top: -0.5rem;
}

h1{
font-size: 8vw;
letter-spacing: 0.6rem;
line-height: 7.8rem;
}

.download .link{
 margin: 0 15px;
}

p{
font-size: 1.7rem;
line-height: 2.5rem;
}

h3 {
font-size: 3rem;
letter-spacing: 0.4rem;
}

.footballer-block .athlets{
padding-left: 38%;
}

.connection {
padding-bottom: 4rem;
padding-top: 3rem;
padding-left: 38%;
padding-right: 6%;
}

.collaboration{
padding-bottom: 4.5rem;
padding-top: 3rem;
padding-left: 38%;
padding-right: 6%;
}

.growth{
padding-top: 3rem;
padding-bottom: 4rem;
padding-left: 38%;
padding-right: 6%;
}

.number-container{
margin-bottom: 2rem;
}

.footballer-block {
 padding-top: 6.5rem;
}

.basketballerballer-block .athlets{
padding-bottom: 3.5rem;
padding-top: 6.2rem;
padding-left: 4%;
}

.basketballerballer-block .connection {
padding-bottom: 4rem;
padding-top: 0;
padding-left: 4%;
}

.basketballerballer-block .collaboration {
padding-top: 3rem;
padding-bottom: 3.5rem;
padding-left: 4%;
}

.basketballerballer-block .growth {
padding-bottom: 4rem;
padding-left: 4%;
}

.sportsmens-paragraph{
margin-top: 0;
margin-right: 7rem;
margin-left: 3rem;
margin-bottom: 10rem;
}

.be-active:nth-child(-6n+6) .sportsmens-paragraph {
margin-bottom: 11rem;
}

.sportsmens-header{
font-size: 9.75vw;
margin-bottom: 1.5rem;
margin-left: 3rem;
margin-top: 6.5rem;
padding: 0;
}

.be-active:nth-child(-3n+3) .sportsmens-paragraph, .be-active:nth-child(-3n+3) .sportsmens-header{
margin-left: 3rem;
}

.be-active:nth-child(-3n+3) .sportsmens-paragraph {
margin-top: -1rem;
margin-bottom: 11rem;
}

.square-left, .square-right{
max-width: 115px;
height: 115px;
position: absolute;
top: -8.5rem;
left: 3.5rem;
}
   
.download-app div{
margin-left: auto;
margin-right: auto;
}

.download-app-text{
display: flex;
flex-direction: column;
align-items: center;
margin-top: 6rem;
}

footer{
padding-top: 13rem;
padding-bottom: 2rem;
}

.download-app-paragraph {
font-size: 3.5rem;
letter-spacing: 0.1rem;
margin-top: 1.5rem;
}

footer .download {
margin-top: 29rem;
margin-bottom: 6rem;
}
}

@media (min-width:746px) and (max-width: 1599px) {

.number-container{
width: 46%;
margin-right: 14%;
 }

.basketballerballer-block .pictures{
width: 435px;
top: 2rem;
right: 0;
}  
}

@media (min-width: 746px) and (max-width: 1599px) {
.footballer-block .pictures{
width: 500px;
top: 4.5rem;
right: 34%;
}  
}
